@font-face {
  font-family: 'Inter-Bold';
  src: url('../fonts/Inter-Bold.otf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Regular';
  src: url('../fonts/Inter-Regular.otf') format('opentype');
  font-style: normal;
}

:root {
  --color1: #fff;
  --color2: #ebeada;
  --color3: #d1c3ab;
  --color4: #bcbb90;
  --color5: #8b9b58;
  --color6: #5d6642;
  --color7: #313427;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter-Regular';
}

h1, h2, h3 {
  font-family: 'Inter-Bold';
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}