:root {
  --color1: #fff;
  --color2: #ebeada;
  --color3: #d1c3ab;
  --color4: #bcbb90;
  --color5: #8b9b58;
  --color6: #5d6642;
  --color7: #313427;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}