.nav-list {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-list a {
    color: var(--color2);
    text-decoration: none;
    font-weight: 500;
    font-size: 1.3rem;
}

.nav-list a:hover {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    border-radius: 10px;
}